[submodule "components/lvgl/lvgl"]
	path = components/lvgl/lvgl
	url = git@github.com:lvgl/lvgl.git
[submodule "components/lv_examples/lv_examples"]
	path = components/lv_examples/lv_examples
	url = git@github.com:lvgl/lv_demos.git
